<h1>Vista Index de Pages</h1>




<table>
<thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
<!   en consola
    pages=Page.all
    pages.each {|page| puts page.title} >

    <% @pages.each do |page| %>
    <tr>
      <td><%= link_to page.title, "pages/#{page.id}" %></td>
      <td><%= page.body %></td>
      <td><%= page.slug %></td>
    </tr>

  <% end %>
</tbody>
</table>

<p> <%= link_to 'Nueva página', new_page_path %> </p> 

<p> ------------------------------------ </p>
<p>The current time is <%=Time.now%></p>

<% nota=95 %>
<% if nota>60 %>
    Aprobado!!!!
<% end %>

<% 4.times do |index| %>
    <p><%= index %> Perro</p>
<% end %>